<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Start</title>

    <link href="dist/index.css" rel="stylesheet">
</head>
<body>
<section layout:fragment="content">
    <div class="wrapper">

        <div th:insert="~{sidebar :: sidebar}"/>

        <div class="container-fluid" id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <a class="btn" href="#" id="demoClick">Tolge</a>

                </div>
            </nav>

            <p th:text="'Bokic ' + ${name} + '!'"/>

            <div id="calendar">

            </div>
        </div>
    </div>
</section>
<span layout:fragment="js-before-body">
    <script type="text/javascript" src="dist/index.js"></script>
</span>

</body>
</html>