<!DOCTYPE HTML>
<html lang="hr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spring Boot 1</title>
    <link href="dist/bootstrap_jquery.css" rel="stylesheet">
</head>
<body>
<section layout:fragment="content">
    <p>Page content goes here</p>
</section>

<!--<script type="text/javascript" src="dist/bootstrap_jquery.js" ></script>-->
<!--<script type="text/javascript" src="dist/fullcalendar.js" ></script>-->
<script type="text/javascript" src="dist/manifest.js"></script>
<script type="text/javascript" src="dist/bootstrap_jquery.js"></script>

<span layout:fragment="js-before-body"></span>
</body>
</html>